body{
    background: #ccc;
}
.container{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 28%;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
button{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 40px;
}
.btn-orange{
    background: orange;
}
.btn-purple{
    background: purple;
}
.btn-teal{
    background: teal;
}
.card:hover{
    box-shadow: ;
}